*.log
v16
*.user
Debug
Release
/lib/MedioPlayer.lib
/lib/UFlib.lib
/bin/DuiLib.pdb
/bin/DuiLib_d.dll
/bin/MedioPlayer.lib
/bin/MedioPlayer.pdb
/bin/MedioPlayer_d.lib
/bin/Player.exe
/bin/Player.ilk
/bin/Player.pdb
/bin/Player_d.exe
/bin/Player_d.ilk
/bin/Player_d.pdb
/lib/DuiLib.exp
/lib/DuiLib.lib
/lib/DuiLib_d.exp
/lib/DuiLib_d.lib
/lib/MedioPlayer_d.lib
/lib/UFlib_d.lib
/bin/DuiLib.dll
